body {
  font-family: "Helvetica";
  background-color: #000000;
  color: #ffffff;
  background-image: url("images/Adios-io-art.png");
  background-repeat: no-repeat;
    background-size: 416px 597px;
    background-position: 25% 0%;
 
  
}
/* navigation settings */
nav ul li {
  display:inline-block
}
nav {
position: absolute;
top: 0px;
left: 400px;
font-size: 150%;
}

/*author name settings */
h1 {
font-family: 'Nova Square', cursive;
font-size: 300%;
position: absolute;
top: -30px;
left: 50px;

}
#last-name span {
  font-family: 'Nova Square', cursive;
  font-size: 350%;
  color: #f09f05;
  position: absolute;
  top: 50px;
  left: 50px;
}

/* gold bar at the top */
#gold_bar {
  position: absolute;
  top: 45px;

}

/* For the COMING SOON position*/
#coming-soon {
position: absolute;
top: 100px;
left: 700px;

}

h2 {
font-size: 250%;
}
/* General Button Settings */
#coming-soon .cta {
border-radius: 20px;
color: #ffffff;
padding: 6px 16px;
text-decoration: none;
position: relative;
left: 90px;
}
/* Join button here */
#coming-soon .primary {
background-color: #e4013a;


}
/* Shop button here */
#coming-soon .secondary {
background-color: #4b26ff
}

/* Social Media Icons */
#social_media {
position: absolute;
bottom: 15px;
}

