body {
  font-family: "Helvetica";
  color: #ffffff;
  background-image: url("images/The_Well_Of_Fate.jpg");
  background-repeat: no-repeat;
  height: 100%;
    background-size: cover;
    background-position: 50% 0%;
 
  
}
/* navigation settings */

ul {
  list-style-type: none;
  overflow: hidden;
  margin: -10px;
  padding: 0;
  background-color: #111;

  
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px; 
  
}
li a:hover { /* Makes nav links darken on hover*/
  opacity: 0.5;
}

/*author name settings */
h1 {
font-family: 'Nova Square', cursive;
font-size: 200%;
position: absolute;
left: 50px;
  top: -15px;

}
h1 span {
  color: #f09f05;
}

/* For the COMING SOON position*/
#coming-soon {
position: absolute;
top: 100px;
left: 700px;

}

h2 {
font-size: 250%;
}
/* General Button Settings */
#coming-soon .cta {
border-radius: 20px;
color: #ffffff;
padding: 6px 16px;
text-decoration: none;
position: relative;
left: 90px;
}
/* Join button here */
#coming-soon .primary {
background-color: #e4013a;


}
/* Shop button here */
#coming-soon .secondary {
background-color: #4b26ff
}

/* Social Media Icons */
#social_media {
position: absolute;
bottom: 15px;
}

